.container-form {
  width: 812px;
  height: 545px;
  background-color: #ffffff;
  border-radius: 17px;
}

.title-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-label {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  color: #fc6820;
}

.description-header {
  font-family: " Roboto ", sans-serif;
  font-size: 11px;
  line-height: 13px;
  margin: auto;
}
.prenota-header {
  margin-top: 20px;
  margin-left: 26px;
  margin-right: 26px;
}
