.form {
  display: flex;
}

.left-form,
.right-form {
  flex: 1;
}

.left-form {
  margin-right: 19px;
}

.right-form {
  margin-left: 19px;
}


.indirizzo-citta,
.euro-causale {
  display: flex;

  .input-field {
    input {
      width: 175px;
    }

  }
}

.fisica-giurisica {
  display: flex;
  justify-content: space-between;
  background-color: #D2D4D5;

}

.input-field {
  display: grid;
  margin-top: 8px;
}

.input {
  font-family: " Roboto ", sans-serif;
  font-size: 14px;
  line-height: 19pt;
  color: #3c4349;
  border: none;
  width: 361px;
  height: 35px;
  padding: 0;
}

input::placeholder {
  padding-left: 10px;
}

.input::placeholder {
  font-family: " Roboto ", sans-serif;
  font-size: 14px;
  line-height: 19pt;
  color: #3c4349;
}

input:focus {
  outline: none;
}

.input-color {
  font-family: " Roboto ", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 19pt;
  border: none;
  width: 361px;
  height: 35px;
  padding: 0;
  background-color: transparent;
}

.input-color::placeholder {
  color: #fc6820;
  margin-left: 2px;
}

.bold {
  font-weight: bold;
}

.input-label {
  font-size: 10px;
  line-height: 14pt;
  font-family: " Roboto ", sans-serif;
  color: #5C5C5C;
}

.req {
  color: red;
}

*:required {
  background-color: #D2D4D5;
}

.indirizzo-citta .input-field:nth-child(1),
.euro-causale .input-field:nth-child(1) {
  margin-right: 5.5px;
}

.indirizzo-citta .input-field:nth-child(2),
.euro-causale .input-field:nth-child(2) {
  margin-left: 5.5px;
}

.person {
  width: 175px;
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: " Roboto ", sans-serif;
  line-height: 19pt;
  justify-content: space-around;
}

.vertical-line {
  height: 275px;
  border-left: 1px solid #D2D4D5;
}

.switch {
  width: 95px;
  height: 19px;
  border: 1px solid #588A17;
  border-radius: 45px;
  background-color: white;
}

input.checkbox {
  margin: 0;
  margin-left: 4px;
}

input[name="person"] {
  accent-color: #588A17;
}