.container-form {
  width: 812px;
  height: 545px;
  background-color: #ffffff;
  border-radius: 5pt;
}

.title-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-label {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24pt;
  color: #fc6820;
}

.prenota-header,
.input-form,
.prenota-footer {
  margin-left: 26px;
  margin-right: 26px;
}

.description-header {
  font-family: " Roboto ", sans-serif;
  font-size: 11px;
  line-height: 13pt;
  margin: auto;
  color: #3c4349;
}

.desc-costo {
  color: #fc6820;
  line-height: 13pt;
  font-size: 11px;
}

.costo-value {
  font-weight: bold;
  font-size: 11px;
  line-height: 13pt;
}

.container-form {
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid #d2d4d5;
    padding: 0;
    margin-bottom: 0;
  }
}

.footer-description {
  font-family: " Roboto ", sans-serif;
  font-size: 11px;
  line-height: 13pt;
  color: #3c4349;
  margin: 0;
  margin-top: 15px;

  a {
    color: #3c4349;
    text-decoration: none;
  }
}

.button {
  display: flex;
  justify-content: center;
}
